stable_baselines3
gtimer==1.0.0b5
mujoco_py==2.1.2.14
gym==0.21.0
numpy-quaternion==2021.4.5.14.42.35
python-dateutil==2.8.1
matplotlib==3.3.4
numpy==1.21.4
opencv-python==4.5.2.52
numba==0.53.1
click==8.0.1
termcolor==1.1.0
scikit-image==0.17.2
tensorboard==2.5.0
torch==1.7.1
torchvision==0.8.2
torchaudio==0.7.2
black==21.10b0
isort==5.10.1
pytest==6.2.5
ipdb
pre-commit
