glfw>=1.4.0
numpy>=1.11
Cython>=0.27.2
imageio>=2.1.2
cffi>=1.10
imagehash>=3.4
ipdb
Pillow>=4.0.0
pycparser>=2.17.0
pytest>=3.0.5
pytest-instafail==0.3.0
scipy>=0.18.0
sphinx
sphinx_rtd_theme
numpydoc
cloudpickle==0.5.2
cached-property==1.3.1
gym[all]==0.10.5
gitpython==2.1.7
gtimer==1.0.0b5
awscli==1.11.179
boto3==1.4.8
ray==0.2.2
path.py==10.3.1
torch
joblib==0.9.4
opencv-python==3.4.0.12
torchvision==0.2.0
sk-video==1.1.10
mujoco_py
matplotlib
pygame